@charset "UTF-8";


/* 웹폰트-Pretendard ------------------------------------------------------ */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

/* 초기셋팅  ------------------------------------------------------ */
*{font-family: Pretendard;box-sizing: border-box;}
body{margin: 0;}
dl, ul, ol, menu, li{list-style: none;}
ul{padding: 0;margin:0;}
p {margin:0;padding:0;}
input, select, textarea {margin:0; padding:0; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing: border-box;}
:root {
    --border: #333;
    --btn-border: #ddd;
    --text: #707070;
    --text-bold: #111;
    --bg-gray: #eef3ff;
    --main: #21409a;
    --light1: #f6f3c3;
    --light2: #dec3f6;
    --white: #ffffffc2;
    --disabled: #fafafa;
  }


/* section  ------------------------------------------------------ */
.section{max-width: 1200px;width:100%;margin:0 auto;padding-left: 20px;padding-right: 20px;}
.section h1{font-size: 28px;}
.section input + input{margin-left: 4px;}
.section input[type="text"],
.section input[type="password"]{padding: 4px;border-radius: 5px;background: var(--white);border: 1px solid var(--btn-border);}
.section input[type="text"]:disabled{background: var(--disabled);}
.section textarea{padding: 4px;border: 1px solid var(--btn-border);background: #fff;border-radius: 5px;transition: 0.6s;}
.section table{border-spacing:0;border-collapse:collapse;}
.tbl_ty01{}
.section table{border-top: 1px solid var(--text);}
.section table th{padding: 4px;background: #F2F2F2;text-align:center;}
.section table td{padding: 4px;border-bottom: 1px solid var(--btn-border);}
.section table tr{}


.section .layout{}
.section .layout [class*="_box"]{padding: 14px 0;}
.section .layout form > div{padding: 14px 0;}
.section .layout .tit{display:inline-flex; align-items:center;}
.section .layout .tit + input{margin-left: 4px;}

/* 정보영역 */
.section .layout .info_box{background: var(--light1);padding-left: 20px;padding-right: 20px;border-radius: 10px;}

/* 입력영역 */
.section .layout .input_box{background: var(--light2);padding-left: 20px;padding-right: 20px;border-radius: 10px;}

/* 버튼영역 */
.section .layout .btn_box{display: flex;}
.section .layout .btn_box.center{justify-content: center;}
.btn_box [type="button"],
.btn_box [type="reset"],
.btn{min-width: 100px;height: 30px;padding: 4px;font-weight: bold;border: 1px solid var(--btn-border);background: #fff;border-radius: 5px;transition: 0.6s;}
/* .btn_box [type="button"] + input[type="button"],
.btn_box [type="button"] + input[type="reset"]{margin-left: 8px;} */
.btn_box [type="button"].w_auto,
.btn_box [type="reset"].w_auto,
.btn.w_auto{min-width:50px;width:auto;}
.btn_box [type="button"]:hover,
.btn_box [type="button"]:active,
.btn_box [type="reset"]:hover,
.btn_box [type="reset"]:active,
.btn:hover,.btn:active{background: var(--bg-gray);border-color: var(--border);}

/* 결과 영역 */
.section .layout .result_box{}
.section .layout ul>li + li{margin-top: 6px;}
.section .layout ul>li .tit{display: inline-block;width: 100px;}


/* ---- 양쪽 끝 정렬 ---- */
/* .section .layout >div>ul>li .tit{text-align: justify;line-height: 0;}
.section .layout >div>ul>li .tit:before{content:'';display: inline-block;width:100%;}
.section .layout >div>ul>li .tit:after{content:'';display: inline-block;width:100%;} */
.section .layout >div>ul>li .ip_box{}
/*   ------------------------------------------------------ */







