<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- <link rel="stylesheet" type="text/css" href="css/main.css"> -->
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body class="section">

<div>
	<h1>최초 요청 페이지</h1>
	<h2>HelloSend03html</h2>
	<hr />
</div>

<div class="layout">
	<!-- 서블릿 주소 요청 -->
	<!-- <form action="helloreceive02" method="post"> -->
	<form action="receive" method="post">
		<div class="input_box">
			First Name
			<input type="text" name="firstName" class="txt"><br>
			Last Name
			<input type="text" name="lastName" class="txt">
		</div>
		
		<div class="btn_box">
			<button type="submit" class="btn">submit</button>
		</div>		
	</form>
</div>

</body>
</html>