<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>WebApp00</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 
  <servlet>
  	<servlet-name></servlet-name>
  	<servlet-class></servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name></servlet-name>
  	<url-pattern></url-pattern>
  </servlet-mapping>
  -->
  
  <!-- ajaxTest03 -->
  <servlet>
  	<servlet-name>ajaxTest03send</servlet-name>
  	<servlet-class>com.test.ajax.AjaxTest03Controller</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>ajaxTest03send</servlet-name>
  	<url-pattern>/ajaxtest03.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ajaxTest03</servlet-name>
  	<servlet-class>com.test.ajax.AjaxTest03OkController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>ajaxTest03</servlet-name>
  	<url-pattern>/ajaxtest03ok.do</url-pattern>
  </servlet-mapping>
  
  <!-- ajaxTest04 -->
  <servlet>
  	<servlet-name>ajaxTest04send</servlet-name>
  	<servlet-class>com.test.ajax.AjaxTest04Controller</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>ajaxTest04send</servlet-name>
  	<url-pattern>/ajaxtest04.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ajaxTest04</servlet-name>
  	<servlet-class>com.test.ajax.AjaxTest04OkController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>ajaxTest04</servlet-name>
  	<url-pattern>/ajaxtest04ok.do</url-pattern>
  </servlet-mapping>
</web-app>